NET "s<0>" LOC "G12";
NET "s<1>" LOC "C11";
NET "s<2>" LOC "M4";
NET "d<0>" LOC "P11";
NET "d<1>" LOC "L3";
NET "d<2>" LOC "K3";
NET "d<3>" LOC "B4";
NET "d<4>" LOC "G3";
NET "d<5>" LOC "F3";
NET "d<6>" LOC "E2";
NET "d<7>" LOC "N3";
NET "y" LOC "M5";